          <div class="card">
            <div class="card-body">
              <h1>Estimated Number of Cells</h1>
              <p class="summary_data">{{ cells_table['Estimated Number of Cells'] }}</p>
            </div>
          </div>

          <div class="card">
            <div class="row">           
              <div class="col-6">             
                <h1>Mean Reads per Cell</h1>
                <p class="summary_data">{{ cells_table['Mean Reads per Cell'] }}</p>
              </div>
              <div class="col-6">
                <h1>Median Genes per Cell</h1>
                <p class="summary_data">{{ cells_table['Median Genes per Cell'] }}</p>
              </div>
            </div>       
          </div>