<div class="card">
  <div style="display: inline">
    <div class="has_desc" onclick="show_description(event)">
      <div class="summary_description" style="display: none;">
        <p>对数据进行downsample处理，x轴为Mean Reads per Cell，y轴为Median Genes per Cell</p>
      </div>
    </div>
    <h1>Median Genes per Cell</h1>
  </div>
  <div class="plot" id="downsample_median_plot"></div>
  <script>
   
    var reads = {{ downsample["Reads"] }};
    var median={{ downsample["median"] }};
    //percentage.unshift(0);
    reads.unshift(0);
    median.unshift(0);
    var points = {
      x: reads,
      y: median,
      mode: 'lines',
      type: 'scattergl',
    };
    var layout = {
      xaixs: {
        title: "Mean Reads per Cell",
      },
      yaxis: {
        title: "Median Genes per Cell",
      },
      margin: {
        l: 50,
        r: 30,
        t: 30,
        b: 50,
      },
      width: 520,
      height: 330,
    }

    var plotData = [points];
    var rmButtons = ['toImage', 'zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'toggleSpikelines', 'hoverCompareCartesian'];
    Plotly.newPlot("downsample_median_plot", plotData, layout, {modeBarButtonsToRemove: rmButtons, displaylogo: false});
  </script>
</div>
