          <div class="card">
            <div style="display: inline">
              <div class="has_desc" onclick="show_description(event)">
                <div class="summary_description" style="display: none;">
                    <dl>
                      <dt>Number of reads</dt> 
                      <dd>clean reads数目</dd>
                      <dt>Valid Barcode</dt>
                      <dd>具有有效结构的reads比例</dtd>
                      <dt>Sequencing Saturation</dt>
                      <dd>测序饱和度</dd>
                      <dt>Without anchor</dt>
                      <dd>没有anchor碱基的reads数目</dd>
                      <dt>without Barcode</dt>
                      <dd>没有barcode 的reads数目</dd>
                      <dt>without Linker</dt>
                      <dd>没有linker结构的reads数目</dd>
                      <dt>Trimmed</dt>
                      <dd>去掉polyA的reads数目</dd>
                      <dt>Too short</dt>
                      <dd>因为polyA结构过长而丢掉的reads数目</dd>
                      <dt>Q30 Bases in Barcode</dt>
                      <dd>有效barcode 的reads中Barcode碱基质量大于30的比例</dd>
                      <dt>Q30 Bases in UMI</dt>
                      <dd>有效barcode 的reads中UMI碱基质量大于30的比例</dt>
                    </dl>
                </div>
              </div>
            <h1>Sequencing</h1>
            </div>
            <table class="table table-hover">
              {% for key, value in sequencing_table.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </table>                   
          </div>
